<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hzu.sotacy.dao.choiceQuestion.ChoiceQuestionDao">

    <insert id="addRelationToCourseUnit" parameterType="Integer" useGeneratedKeys="true">
        insert into course_unit$choice_question
        (course_unit$choice_question.course_unit_id,
         course_unit$choice_question.choice_question_id)
        values(#{courseUnitId,jdbcType=INTEGER }, #{choiceQuestionId,jdbcType=INTEGER});
    </insert>

    <select id="getChoiceQuestions" resultType="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestion">
        select * from choice_question a join course_unit$choice_question b on a.id = b.choice_question_id where b.course_unit_id = #{courseUnitId}
    </select>


</mapper>
