<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hzu.sotacy.dao.choiceQuestion.ChoiceQuestionDao">

    <insert id="addRelationToCourseUnit" parameterType="Integer" useGeneratedKeys="true">
        insert into course_unit$choice_question
        (course_unit$choice_question.course_unit_id,
         course_unit$choice_question.choice_question_id)
        values(#{courseUnitId,jdbcType=INTEGER }, #{choiceQuestionId,jdbcType=INTEGER});
    </insert>

    <select id="getChoiceQuestions" resultType="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestion">
        select * from choice_question a join course_unit$choice_question b on a.id = b.choice_question_id where b.course_unit_id = #{courseUnitId}
    </select>

<!--    <select id="selectOptionsByChoiceQuestionId" resultType="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestionOption">-->
<!--        <![CDATA[-->
<!--            select-->
<!--                   o.id as id,-->
<!--                   o.content as content-->
<!--            from choice_question_option o-->
<!--        ]]>-->
<!--        <where>-->
<!--            choice_question_id = #{choiceQuestionId}-->
<!--        </where>-->
<!--    </select>-->

<!--    &lt;!&ndash; 先根据课程单元id在课程单元和选择题的关联表中查出课程单元id对应的多个选择题 &ndash;&gt;-->
<!--&lt;!&ndash;    <select id="getChoiceQuestions" resultType="cn.hzu.sotacy.model.choiceQuestion.CourseUnitAndChoiceQuestion">&ndash;&gt;-->
<!--&lt;!&ndash;        select * from course_unit$choice_question where course_unit_id = #{courseUnitId}&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--    &lt;!&ndash; 根据选择题id查出选择题 &ndash;&gt;-->
<!--    <select id="getChoiceQuestionsById" resultMap="choiceQuestionMap">-->
<!--        select * from choice_question where id = #{choiceQuestionId}-->
<!--    </select>-->


<!--    -->
<!--    <resultMap id="resultMap" type="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestion">-->

<!--    </resultMap>-->

<!--    <resultMap id="choiceQuestionMap" type="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestion">-->
<!--        <result column="id" property="id"/>-->
<!--        <result column="subject" property="subject"/>-->
<!--        <result column="answer_option_id" property="answerOptionId"/>-->
<!--        <result column="create_time" property="createTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
<!--        <collection property="choiceQuestionOptions" ofType="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestionOption">-->
<!--            <id column="option_id" property="id"/>-->
<!--            <result column="content" property="content"/>-->
<!--        </collection>-->
<!--    </resultMap>-->
<!--    -->
<!--    <select id="getChoiceQuestions" resultMap="choiceQuestionMap">-->
<!--        select c.* from choice_question c LEFT JOIN-->
<!--    </select>-->
    <!--    <select id="getAllByCourseUnit" parameterType="cn.hzu.sotacy.model.choiceQuestion.ChoiceQuestion">-->
    <!--        <![CDATA[-->
    <!--            select * from choice_question-->
    <!--        ]]>-->
    <!--        <where>-->

    <!--        </where>-->
    <!--    </select>-->
</mapper>
