<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hzu.sotacy.dao.judgmentQuestion.JudgmentQuestionDao">

    <insert id="addRelationToCourseUnit" parameterType="Integer" useGeneratedKeys="true">
        insert into course_unit$judgment_question
            (course_unit$judgment_question.course_unit_id,
             course_unit$judgment_question.judgment_id)
        values(#{courseUnitId,jdbcType=INTEGER }, #{judgmentQuestionId,jdbcType=INTEGER});
    </insert>

    <select id="getJudgmentQuestions" resultType="cn.hzu.sotacy.model.judgmentQuestion.JudgmentQuestion">
        select * from judgment_question a join course_unit$judgment_question b on a.id = b.judgment_id where b.course_unit_id = #{courseUnitId}
    </select>
</mapper>
